<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vteba.tiantian.order.dao.ShoppingCartDao" >
  <resultMap id="shoppingCartResultMap" type="com.vteba.tiantian.order.model.ShoppingCart" >
    <!--
      WARNING - 结果集映射，不含Blob字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    <id column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_color" property="itemColor" jdbcType="VARCHAR" />
    <result column="item_size" property="itemSize" jdbcType="VARCHAR" />
    <result column="item_desc" property="itemDesc" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="unit_price" property="unitPrice" jdbcType="DOUBLE" />
    <result column="total" property="total" jdbcType="DOUBLE" />
    <result column="ref_no" property="refNo" jdbcType="VARCHAR" />
    <result column="add_date" property="addDate" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - 该表所有字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    item_id, item_name, item_color, item_size, item_desc, image_url, quantity, unit_price, 
    total, ref_no, add_date, user_id
  </sql>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - Criteria条件查询的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
    <if test="orderBy != null" >
      order by ${orderBy}
    </if>
    <if test="start != null" >
      limit ${start}, ${pageSize}
    </if>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - Criteria条件查询的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <foreach collection="params.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="model_where_clause" >
    <!--
      WARNING - 根据model条件，查询或更新的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <trim prefixOverrides="and" >
        <if test="itemName != null" >
          and item_name = #{itemName,jdbcType=VARCHAR}
        </if>
        <if test="itemColor != null" >
          and item_color = #{itemColor,jdbcType=VARCHAR}
        </if>
        <if test="itemSize != null" >
          and item_size = #{itemSize,jdbcType=VARCHAR}
        </if>
        <if test="itemDesc != null" >
          and item_desc = #{itemDesc,jdbcType=VARCHAR}
        </if>
        <if test="imageUrl != null" >
          and image_url = #{imageUrl,jdbcType=VARCHAR}
        </if>
        <if test="quantity != null" >
          and quantity = #{quantity,jdbcType=INTEGER}
        </if>
        <if test="unitPrice != null" >
          and unit_price = #{unitPrice,jdbcType=DOUBLE}
        </if>
        <if test="total != null" >
          and total = #{total,jdbcType=DOUBLE}
        </if>
        <if test="refNo != null" >
          and ref_no = #{refNo,jdbcType=VARCHAR}
        </if>
        <if test="addDate != null" >
          and add_date = #{addDate,jdbcType=TIMESTAMP}
        </if>
        <if test="userId != null" >
          and user_id = #{userId,jdbcType=VARCHAR}
        </if>
      </trim>
    </where>
    <if test="orderBy != null" >
      order by ${orderBy}
    </if>
    <if test="start != null" >
      limit ${start}, ${pageSize}
    </if>
  </sql>
  <sql id="update_model_where_clause" >
    <!--
      WARNING - 根据model条件，更新的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <trim prefixOverrides="and" >
        <if test="params.itemName != null" >
          and item_name = #{params.itemName,jdbcType=VARCHAR}
        </if>
        <if test="params.itemColor != null" >
          and item_color = #{params.itemColor,jdbcType=VARCHAR}
        </if>
        <if test="params.itemSize != null" >
          and item_size = #{params.itemSize,jdbcType=VARCHAR}
        </if>
        <if test="params.itemDesc != null" >
          and item_desc = #{params.itemDesc,jdbcType=VARCHAR}
        </if>
        <if test="params.imageUrl != null" >
          and image_url = #{params.imageUrl,jdbcType=VARCHAR}
        </if>
        <if test="params.quantity != null" >
          and quantity = #{params.quantity,jdbcType=INTEGER}
        </if>
        <if test="params.unitPrice != null" >
          and unit_price = #{params.unitPrice,jdbcType=DOUBLE}
        </if>
        <if test="params.total != null" >
          and total = #{params.total,jdbcType=DOUBLE}
        </if>
        <if test="params.refNo != null" >
          and ref_no = #{params.refNo,jdbcType=VARCHAR}
        </if>
        <if test="params.addDate != null" >
          and add_date = #{params.addDate,jdbcType=TIMESTAMP}
        </if>
        <if test="params.userId != null" >
          and user_id = #{params.userId,jdbcType=VARCHAR}
        </if>
      </trim>
    </where>
  </sql>
  <select id="queryForList" resultMap="shoppingCartResultMap" parameterType="com.vteba.tiantian.order.model.ShoppingCartBean" >
    <!--
      WARNING - 根据Criteria所携带条件查询数据，不含Blob字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shopping_cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="queryList" resultMap="shoppingCartResultMap" parameterType="com.vteba.tiantian.order.model.ShoppingCart" >
    <!--
      WARNING - 根据params所携带条件查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shopping_cart
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <select id="pagedForList" resultMap="shoppingCartResultMap" parameterType="com.vteba.tiantian.order.model.ShoppingCartBean" >
    <!--
      WARNING - 根据Criteria所携带条件分页查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shopping_cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="pagedList" resultMap="shoppingCartResultMap" parameterType="com.vteba.tiantian.order.model.ShoppingCart" >
    <!--
      WARNING - 根据params所携带条件分页查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shopping_cart
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <select id="get" resultMap="shoppingCartResultMap" parameterType="java.lang.String" >
    <!--
      WARNING - 根据主键查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select 
    <include refid="Base_Column_List" />
    from shopping_cart
    where item_id = #{itemId,jdbcType=VARCHAR}
  </select>
  <select id="unique" resultMap="shoppingCartResultMap" parameterType="com.vteba.tiantian.order.model.ShoppingCart" >
    <!--
      WARNING - 根据params所携带条件查询唯一记录。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shopping_cart
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <delete id="deleteById" parameterType="java.lang.String" >
    <!--
      WARNING - 根据主键删除记录。
      MyBatis代码工具自动生成，不要修改！
    -->
    delete from shopping_cart
    where item_id = #{itemId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteBatch" parameterType="com.vteba.tiantian.order.model.ShoppingCartBean" >
    <!--
      WARNING - 根据Criteria所携带条件删除记录。
      MyBatis代码工具自动生成，不要修改！
    -->
    delete from shopping_cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteBulks" parameterType="com.vteba.tiantian.order.model.ShoppingCart" >
    <!--
      WARNING - 根据params所携带条件删除数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    delete from shopping_cart
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </delete>
  <insert id="save" parameterType="com.vteba.tiantian.order.model.ShoppingCart" >
    <!--
      WARNING - 插入记录，只有非空字段才会插入到数据库。
      MyBatis代码工具自动生成，不要修改！
    -->
    insert into shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="itemColor != null" >
        item_color,
      </if>
      <if test="itemSize != null" >
        item_size,
      </if>
      <if test="itemDesc != null" >
        item_desc,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="unitPrice != null" >
        unit_price,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="refNo != null" >
        ref_no,
      </if>
      <if test="addDate != null" >
        add_date,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemColor != null" >
        #{itemColor,jdbcType=VARCHAR},
      </if>
      <if test="itemSize != null" >
        #{itemSize,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null" >
        #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=DOUBLE},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DOUBLE},
      </if>
      <if test="refNo != null" >
        #{refNo,jdbcType=VARCHAR},
      </if>
      <if test="addDate != null" >
        #{addDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="count" parameterType="com.vteba.tiantian.order.model.ShoppingCartBean" resultType="java.lang.Integer" >
    <!--
      WARNING - 根据Criteria所携带条件进行count计数。
      MyBatis代码工具自动生成，不要修改！
    -->
    select count(*) from shopping_cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="countBy" parameterType="com.vteba.tiantian.order.model.ShoppingCart" resultType="java.lang.Integer" >
    <!--
      WARNING - 根据params所携带条件计数。
      MyBatis代码工具自动生成，不要修改！
    -->
    select count(*) from shopping_cart
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <update id="updateBatch" parameterType="map" >
    <!--
      WARNING - 根据Criteria所携带条件更新指定字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    update shopping_cart
    <set >
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null" >
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemColor != null" >
        item_color = #{record.itemColor,jdbcType=VARCHAR},
      </if>
      <if test="record.itemSize != null" >
        item_size = #{record.itemSize,jdbcType=VARCHAR},
      </if>
      <if test="record.itemDesc != null" >
        item_desc = #{record.itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.imageUrl != null" >
        image_url = #{record.imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null" >
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.unitPrice != null" >
        unit_price = #{record.unitPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.total != null" >
        total = #{record.total,jdbcType=DOUBLE},
      </if>
      <if test="record.refNo != null" >
        ref_no = #{record.refNo,jdbcType=VARCHAR},
      </if>
      <if test="record.addDate != null" >
        add_date = #{record.addDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateBulks" parameterType="map" >
    <!--
      WARNING - 根据params所携带条件更新指定字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    update shopping_cart
    <set >
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null" >
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemColor != null" >
        item_color = #{record.itemColor,jdbcType=VARCHAR},
      </if>
      <if test="record.itemSize != null" >
        item_size = #{record.itemSize,jdbcType=VARCHAR},
      </if>
      <if test="record.itemDesc != null" >
        item_desc = #{record.itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.imageUrl != null" >
        image_url = #{record.imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null" >
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.unitPrice != null" >
        unit_price = #{record.unitPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.total != null" >
        total = #{record.total,jdbcType=DOUBLE},
      </if>
      <if test="record.refNo != null" >
        ref_no = #{record.refNo,jdbcType=VARCHAR},
      </if>
      <if test="record.addDate != null" >
        add_date = #{record.addDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="update_model_where_clause" />
    </if>
  </update>
  <update id="updateById" parameterType="com.vteba.tiantian.order.model.ShoppingCart" >
    <!--
      WARNING - 根据主键更新指定字段的数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    update shopping_cart
    <set >
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemColor != null" >
        item_color = #{itemColor,jdbcType=VARCHAR},
      </if>
      <if test="itemSize != null" >
        item_size = #{itemSize,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null" >
        item_desc = #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="unitPrice != null" >
        unit_price = #{unitPrice,jdbcType=DOUBLE},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DOUBLE},
      </if>
      <if test="refNo != null" >
        ref_no = #{refNo,jdbcType=VARCHAR},
      </if>
      <if test="addDate != null" >
        add_date = #{addDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=VARCHAR}
  </update>
</mapper>